---
layout: app
title: KRL Developer Tools 
---

{% include_relative appPages/home.html %}
{% include_relative appPages/authorize.html %}

{% include_relative appPages/about.html %}
{% include_relative appPages/account.html %}

{% include_relative appPages/registering-ruleset.html %}
{% include_relative appPages/picologging.html %}
{% include_relative appPages/install-rulesets.html %}

{% include_relative appPages/prototype-management.html %}

{% include_relative appPages/channel-management.html %}
{% include_relative appPages/oAuth-client-registration.html %}
{% include_relative appPages/Scheduled.html %}
{% include_relative appPages/subscription.html %}


<!-- ----------templates ---------- -->

{% include_relative Templates/List_templates.html %}

