{% raw %} <!-- turn off jekyl (in github pages) -->

<div id="list-rulesets-template" style="display:none;">
   <div id="{{rid}}" data-role="collapsible" data-filtertext="{{rid}}{{uri}}" data-theme="a" data-content-theme="a" data-collapsed-icon= "carat-d" data-expanded-icon="carat-u" >
     <h4 style="font-size:1em;">
     		{{name}} ({{rid}}) <span> <p style="font-weight:normal; font-size:12px;">{{uri}}</p></span>
     </h4>

    <div style = "padding-top: 10px; padding-bottom:40px;"> 
         <p><b>Ruleset ID:</b> {{rid}} </p>
         <p>{{description}}</p>
         <p>Actions to take:</p>

         <p style="position:relative; top:10px"><a style="margin-top:-25px;float:right;" href="#updating-url?rid={{rid}}&url={{encoded}}" data-role="button" data-icon="edit" class="ui-link ui-btn ui-icon-edit ui-btn-icon-right editURLButton listRulesetsButton">Edit URL</a></p>

         <p style="position:relative; top:10px"><a href="#" id="{{rid}}" style="margin-top:-25px;float:right;" class="ui-btn ui-icon-refresh ui-btn-icon-right flushButton listRulesetsButton">Flush</a></p>

         <p style="position:relative; top:10px"><a href="#" id="{{rid}}" style="margin-top:-25px;float:right;" class="ui-link ui-btn ui-icon-delete ui-btn-icon-right deleteButton listRulesetsButton">Delete</a></p>

         <p style="position:relative; top:10px"><a href="#" id="{{rid}}" style="margin-top:-25px;float:right;" class="ui-link ui-btn ui-icon-arrow-d ui-btn-icon-right installButton listRulesetsButton">Install</a></p>

     </div>
   </div>
</div>

<div id="logitem-template" style="display:none;">
   <div id="{{id}}" data-role="collapsible" data-theme="a" data-content-theme="b" data-collapsed-icon= "carat-d" data-expanded-icon="carat-u">
   <h4>{{type}} -> {{formatDate timestamp}} ({{eid}}) </h4>
        {{#each log_items}}
	 {{#ifDivider this }}
	   <span style="color:blue">{{this}}</span> 
         {{else}}
	   {{this}}
         {{/ifDivider}}
         <br/>
        {{/each}}
   </div>
</div>

<div id="installed-channels-template" style="display:none;">
   <div id="{{Type}}" data-role="collapsible" data-filtertext="{{Type}}" data-theme="a" data-content-theme="a" data-collapsed-icon= "carat-d" data-expanded-icon="carat-u">
     <h4>{{Type}}</h4>
    <div data-role="collapsible-set" data-filter="true" data-content-theme="a" data-iconpos="right" id="{{Type}}2">
    </div>
   </div>
</div>

<div id="installed-channels-template2" style="display:none;">
   <div id="{{cid}}" data-role="collapsible" data-filtertext="{{channel_name}} ({{cid}})" data-theme="a" data-content-theme="a" data-collapsed-icon= "carat-d" data-expanded-icon="carat-u">
     <h4>{{channel_name}} ({{cid}})</h4>
    <div style = "padding-top: 18px; padding-bottom:24px;"> 
        <p><b>Last Active:</b> {{time}}</p>
        <p><b>Type:</b> {{type}}</p> 
        <p><b>Attributes:</b> {{attributes}}</p>
         <p style="position:relative; top:-20px"><a style="float:right;" href="#confirm-uninstall-channel?channel={{cid}}&name={{channel_name}}" data-role="button" data-icon="delete" class="ui-btn ui-icon-delete ">Delete</a></p>
       <p><b>Channel ID:</b> {{cid}}</p>
     </div>
   </div>
</div>

<div id="confirm-channel-remove-template" style="display:none;">
  <li data-role="list-divider" >Delete Channel</li>
  <li>
  <p>
  <h3>Name: {{name}} 
  </br> Channel ID: {{channel}}</h3>
    <a id="remove-channel-button" href="#" class="ui-btn ui-btn-b ui-btn-inline">Delete</a>
    <a href="#page-channel-management" class="ui-btn ui-btn-inline" data-transition="slide">Cancel</a>
  </p>
  <h1>Do NOT delete channels unless you know what you're doing.<br> Deletion of key channels could make your pico inoperable.</h1>
  </li>
</div>
<!--      Authorize clients      appimageURL is not being used--> 
<div id="authorized-clients-template" style="display:none;">
   <div id="{{appECI}}" data-role="collapsible" data-filtertext="{{appClientName}} ({{appECI}})" data-theme="a" data-content-theme="a" data-collapsed-icon= "carat-d" data-expanded-icon="carat-u">
     <h4>{{appClientName}} ({{appECI}})</h4>
    <div style = "padding-top: 18px; padding-bottom:24px;"> 
         <p style="position:relative; top:-10px"><a style="float:right;" href="#confirm-client-remove?client={{appECI}}" data-role="button" data-icon="delete" class="ui-btn ui-icon-delete ">Remove</a></p>
         <p style="position:relative; top:-10px"><a style="float:right;" href="#update-client?client={{appECI}}&appName={{appClientName}}&appDesc={{appDescription}}&appImg={{appImgURL}}&appCb={{appCallbackURL}}&appDec={{appDeclinedURL}}&appInfo={{appInfoPageURL}}&appRids={{appBootstrapRids}}" data-role="button" data-icon="edit" class="ui-link ui-btn ui-icon-edit ui-btn-icon-right">Edit client</a></p>
         <!--<h2>client Attributes</h2>-->
       <p>
		   <img src={{appImageURL}} onerror="this.src='http://news.pcc.edu/wp-content/uploads/2015/04/NasaI.jpg'" width="200" height="150"> 
		   <br>
		   <b>Client Key: </b> {{appECI}}
       </p>
     </div>
   </div>
</div>

<div id="confirm-client-remove-template" style="display:none;">
  <li data-role="list-divider" >Remove Client</li>
  <li>
  <p>
  <h3>Remove Client {{client}}?</h3>
    <a id="remove-client-button" href="#" class="ui-btn ui-btn-b ui-btn-inline">Remove</a>
    <a href="" class="ui-btn ui-btn-inline" data-transition="slide">Cancel</a>
  </p>
  <h1>Do NOT remove clients unless you know what you're doing.</h1>
  </li>
</div>
<!--  -->

<div id="installed-ruleset-template" style="display:none;">
   <div id="{{id}}" data-role="collapsible" data-filtertext="{{name}} ({{rid}})" data-theme="a" data-content-theme="a" data-collapsed-icon= "carat-d" data-expanded-icon="carat-u" >
     <h4>{{name}} ({{rid}})</h4>
     <div>
       {{#if OK }}
         <p style="position:relative; top:-20px"><a style="float:right" href="#confirm-uninstall-ruleset?rid={{rid}}" data-role="button" data-icon="delete" class="ui-btn ui-icon-delete ">Uninstall</a></p>
       {{/if}}
       <p><b>Ruleset ID:</b> {{rid}}
       <p><b>Author:</b> {{author}}
       <p>{{description}}</p>
       <p><b>Last cached:</b> {{ruleset_cached}}</p>
       {{#if sharing}}
         <p><b>Sharing:</b> {{sharing}}</p>
       {{/if}}
       {{#if provides_string}}
         <p><b>Provides functions:</b> {{provides_string}}</p>
       {{/if}}
     </div>
   </div>
</div>

<div id="confirm-ruleset-remove-template" style="display:none;">
  <li data-role="list-divider" >Uninstall Ruleset</li>
  <li>
  <p>Uninstall ruleset {{rid}}?</p>
  <p>
    <a id="remove-ruleset-button" href="#" class="ui-btn ui-btn-b ui-btn-inline">Uninstall</a>
    <a href="#page-installed-rulesets" class="ui-btn ui-btn-inline" data-transition="slide">Cancel</a>
  </p>
  </li>
</div>

<div id="about-account-template" style="display:none;">
  <p style="font-size:18px">
    <b>Username: </b> {{username}}<br/>
    <b>Name: </b> {{firstname}} {{lastname}}<br/>
    <b>Email: </b> {{email}}
  </p>
</div>

<div id="child-pico-template" style="display:none">
   <div data-role="collapsible" data-theme="a" data-content-theme="a" data-collapsed-icon = "carat-d" data-expanded-icon = "carat-u">
     <h4>{{picoName}} ({{eci}})</h4>
	 
     <div style = "padding-top: 10px; padding-bottom:50px;"> 
		 <p><b>Name: </b>{{picoName}}</p>
		 <p><b>ECI: </b>{{eci}}</p>
		 <p style="position:relative; top:20px"><a id="{{eci}}" style="margin-top:-25px;float:right;" class="ui-btn ui-icon-arrow-r ui-btn-icon-right openPicoButton childPicoButton">Open This Pico</a></p>
		 <p style="position:relative; top:20px"><a id="{{eci}}" style="margin-top:-25px;float:right;" class="ui-btn ui-icon-delete ui-btn-icon-right deletePicoButton childPicoButton">Delete</a></p>
      </div>
   </div>
</div>
  <!-- --------------------spime Templates---------------------- -->

<div id="Spime-template" style="display:none">
   <div data-role="collapsible" data-theme="a" data-content-theme="a" data-collapsed-icon = "carat-d" data-expanded-icon = "carat-u">
     <h4>{{picoName}} ({{eci}})</h4>
   
     <div style = "padding-top: 10px; padding-bottom:20px;"> 
     <p><b>Name:</b>{{picoName}}</p>
     <p><b>ECI:</b>{{eci}}</p>
     <p style="position:relative; top:-20px"><a id="{{eci}}" style="margin-top:-25px;float:right;" class="ui-btn ui-icon-arrow-r ui-btn-icon-right openPicoButton">Open This Pico</a></p>
     <p style="position:relative; top:-20px"><a id="{{eci}}" style="margin-top:-25px;float:right;" class="ui-btn ui-icon-delete ui-btn-icon-right deletePicoButton">Delete</a></p>
      </div>
   </div>
</div>
  <!-- -------------------- Scheduled Templates---------------------- -->

<div id="scheduled-events-template" style="display:none;">
   <div id="{{sid}}" data-role="collapsible" data-filtertext="{{name}}" data-theme="a" data-content-theme="a" data-collapsed-icon= "carat-d" data-expanded-icon="carat-u" >
     <h4>{{name}}</h4>
     <div>
      <p style="position:relative; top:-20px"><a id="{{sid}}"style="float:right" href="#" data-role="button" data-icon="delete" class="ui-btn ui-icon-delete cancelEventButton">Cancel Scheduled Event</a></p>
       <p><b>SchedEv id:</b> {{sid}}
       <p><b>Domain/Event name:</b> {{name}}
       <p><b>Type:</b> {{type}}</p>
       <p><b>Rid:</b> {{rid}}</p>
       <p><b>Next Scheduled Fire:</b> {{epoch_time}}</p>

     </div>
   </div>
</div>

  <!-- -------------------- <End oF> Scheduled Templates---------------------- -->
  <!-- -------------------- subscriptions Templates---------------------- -->
<div id="subscription-tab-template" style="display:none;">
   <div id="{{Type}}" data-role="collapsible" data-filtertext="{{Type}}" data-theme="a" data-content-theme="a" data-collapsed-icon= "carat-d" data-expanded-icon="carat-u" >
     <h4>{{Type}}</h4>
    <div data-role="collapsible-set" data-filter="true" data-content-theme="a" data-iconpos="right" id="{{Type}}2" data-collapsed-icon= "carat-d" data-expanded-icon="carat-u" >
    </div>
   </div>
</div>

<div id="subscription-incoming-template" style="display:none;">
   <div id="{{c_name}}"  data-role="collapsible" data-filtertext="{{name}} ({{e_cid}})" data-theme="a" data-content-theme="a">
     <h4>{{name}} ({{e_cid}})</h4>
    <div style = "padding-top: 18px; padding-bottom:44px;"> 
        <p><b>Name:</b> {{name}}</p>
        <p><b>Name Space:</b> {{name_space}}</p> 
        <p><b>Relationship:</b> {{relationship}}</p>
        <p><b>Event Channel:</b> {{e_cid}}</p>
        <p><b>Attributes:</b> {{attributes}}</p>
         <p style="position:relative; top:-20px"><a id="reject-button" style="float:right;" href="#" data-channelname="{{c_name}}" data-eventeci="{{e_cid}}" data-role="button" data-icon="reject" class="ui-btn ui-icon-delete rejectButton">Reject</a></p>
         <p style="position:relative; top:-20px"><a id="approve-button" style="float:right;" href="#"  data-channelname="{{c_name}}" data-eventeci="{{e_cid}}" data-role="button" data-icon="approve" class="ui-btn ui-icon-delete approveButton ">Approve</a></p>
     </div>
   </div>
</div>

<div id="subscription-out-going-template" style="display:none;">
   <div id="{{c_name}}" data-role="collapsible" data-filtertext="{{name}} ({{t_cid}})" data-theme="a" data-content-theme="a">
     <h4>{{name}} ({{t_cid}})</h4>
    <div style = "padding-top: 18px; padding-bottom:24px;"> 
        <p><b>Name:</b> {{name}}</p>
        <p><b>Name Space:</b> {{name_space}}</p> 
        <p><b>Relationship:</b> {{relationship}}</p>
        <p><b>Target Channel:</b> {{t_cid}}</p>
        <p><b>Attributes:</b> {{attributes}}</p>
         <p style="position:relative; top:-12px"><a style="float:right; margin: 0px;" href="#" data-channelname="{{c_name}}" data-role="button" data-icon="cancel" class="ui-btn ui-icon-delete CancelSubscriptionButton ">Cancel</a></p>
         <br>
     </div>
   </div>
</div>

<div id="subscription-template" style="display:none;">
   <div id="{{c_name}}" data-role="collapsible" data-filtertext="{{name}} ({{e_cid}})" data-theme="a" data-content-theme="a">
     <h4>{{name}} ({{e_cid}})</h4>
    <div style = "padding-top: 18px; padding-bottom:44px;"> 
        <p><b>Name:</b> {{name}}</p>
        <p><b>Name Space:</b> {{name_space}}</p> 
        <p><b>Relationship:</b> {{relationship}}</p>
        <p><b>Event Channel:</b> {{e_cid}}</p>
        <p><b>Back Channel:</b> {{b_cid}}</p>
        <p><b>Attributes:</b> {{attributes}}</p>
         <p style="position:relative; top:12px"><a style="margin-top:-25px;float:right;" href="#" data-channelname="{{c_name}}"
         data-role="button" data-icon="un-subscribe" class="ui-btn ui-icon-delete UnSubscribeButton ">UnSubscribe</a></p>
     </div>
   </div>
</div>


  <!-- -------------------- <End oF> subscriptions Templates---------------------- -->


{% endraw %}
