<div data-role="page" id="about">
	
	{% include header.html title="About This Pico" %}

	<div data-role="main" class="ui-content">

		<ul id="about-list" class="ruleset" data-role="listview" data-inset="true" >

		<li data-role="list-divider">Account</li>
			<li id="about-account">

			</li>

			<li data-role="list-divider">Pico ECI</li>
			<li>

				<p>
					<b>Primary ECI: </b> <span id="about-eci"></span>
				</p>

				<p  style="white-space : normal">
					<b>Note: </b> the ECI is the path into your pico and should be treated as a shared secret between the pico and the application using the pico's Event-Qquery API. Do not disclose it or check it into a repository like Github.
				</p>


			</li>
		</ul><!-- /listview -->

	</div>
	
	{% include footer.html %}

</div>