<div data-role="page" id="account">
	
	{% include header.html title="Account Information" %}

	<div data-role="main" class="ui-content">

		<ul id="account-info" class="ruleset" data-role="listview" data-inset="true" >

			<li data-role="list-divider">Account</li>
				<li id="about-account">

			</li>

		</ul><!-- /listview -->

		
		<a id="logout-link" href="#" data-transition="slide" class="ui-btn ui-corner-all ui-btn-b ui-shadow ui-btn-inline">Logout</a>
		
		<a id="account-link-2" href="#" data-transition="slide" class="ui-btn ui-corner-all ui-btn-a ui-shadow ui-btn-inline">My Kynetx Profile</a>

	</div>
	
	{% include footer.html %}

</div>
