<div data-role="page" id="page-authorize" data-title="Authorize Fuse" data-close-btn="none">

  {% include header.html title="Authorize" no_home="true" %}

<div data-role="content" >
  <ul data-role="listview" data-inset="true">
    <li data-role="list-divider" >
      <h2 style="text-align:center; font-size: 150%">Welcome to our KRL Developers!</h2>
    </li>
    <li  style="background:white; font-size: 150%">
      <p class="wrap">We're all here to learn KRL and become better developers of this awesome language.</p>

      <p class="wrap">KRL Developer data is stored in a personal cloud from Kynetx that is designed to protect the privacy of your data and put it under your control. You can use the "Authorize" button to link to an existing Kynetx account or use the "Create" button to create a new account.</p> {{no_home}}


    </li>

  </ul>


  <a id="authorize-link" href="#" data-transition="slide" class="ui-btn ui-corner-all ui-btn-b ui-shadow ui-btn-inline">Authorize with Kynetx</a>

  <a id="create-link" href="#" data-transition="slide" class="ui-btn ui-corner-all ui-btn-a ui-shadow ui-btn-inline">Create Kynetx Account</a>

</div><!-- /content -->

   {% include footer.html %}

</div><!-- /page -->