<div data-role="page" id="page-channel-management" data-title="ECI Management" >
  {% include header.html title="Channel Management" %}
  {% include pico-name-header.html %}

   <div data-role="content">
       <p>
         Welcome to the Channel Manager. Here you can view and add channels for your personal cloud or clouds that you own.
        </p>
     <ul id="installed-channels-control" data-role="listview" data-inset="true"> 
       <li data-role="list-divider" >Channel Manager</li>
       <li>
         <a id="install-channel-button" href="#install-channel" class="ui-btn ui-icon-edit ui-btn-icon-right">New Channel</a>
       </li>
     </ul>

     <div data-role="collapsible-set" data-filter="true" data-content-theme="a" data-iconpos="right" id="installed-channels">
     </div>

   </div><!-- /content -->

   {% include footer.html %}
</div><!-- /page -->

<div data-role="page" id="install-channel" data-title="Install channel">
  {% include header.html title="Create a Channel" %}
  {% include pico-name-header.html %}

	<div data-role="main" class="ui-content">
	  <ul id="install-channel" data-role="listview" data-inset="true"> 
       	    <li data-role="list-divider" >Create Channel</li>
	    <li>
	      <form id="form-install-channel">
	        <div data-role="fieldcontain">
   	          <label for="channel_name">Channel Name:</label>
		  <input type="text" name="channel_name" id="channel_name" value="" placeholder="Name" />
                    <label for="channel_type">Channel Type:</label>
      <input type="text" name="channel_type" id="channel_type" value="" placeholder="Type" />
                    <label for="channel_policy">Channel Policy:</label>
      <input type="text" name="channel_policy" id="channel_policy" value="" placeholder="" />
                    <label for="channel_attributes">Channel Attributes:</label>
      <input type="text" name="channel_attributes" id="channel_attributes" value="" placeholder="" />
		</div>
	      </form>
	      <div>
                <a id="install-channel-confirm-button" href="#" class="ui-btn ui-btn-b ui-btn-inline">Install</a>
                <a href="#page-channel-management" class="ui-btn ui-btn-inline" data-transition="slide">Cancel</a>
	      </div>
	    </li>
     	  </ul>
	</div>

  {% include footer.html %}

</div>

<div data-role="page" id="confirm-uninstall-channel" data-title="Uninstall Channel">
  {% include header.html title="Delete a Channel" %}
  {% include pico-name-header.html %}

	<div data-role="main" class="ui-content">
	  <ul id="remove-channel" data-role="listview" data-inset="true"> 
       	    
     	  </ul>
	</div>


  {% include footer.html %}
</div>
