<div data-role="page" id="page-installed-rulesets" data-title="Pico Logs">
  {% include header.html title="Installed Rulesets" %}

   <div data-role="content">
       <ul id="error-msg" data-role="listview" data-inset="true" class="alert alert-error" style="display:none"></ul>

     <ul id="installed-rulesets-control" data-role="listview" data-inset="true"> 
       <li data-role="list-divider" >Installed Rulesets</li>
       <li>
         <a id="install-ruleset-button" href="#install-ruleset" class="ui-btn ui-icon-edit ui-btn-icon-right">New Ruleset</a>
       </li>
     </ul>

     <div data-role="collapsible-set" data-content-theme="a" data-iconpos="right">
        <ul data-role="listview" data-inset="true"  id="installed-rulesets">    
        </ul>
     </div>

   </div><!-- /content -->

   {% include footer.html %}
</div><!-- /page -->

<div data-role="page" id="install-ruleset" data-title="Install Ruleset">
  {% include header.html title="Install a Ruleset" %}

	<div data-role="main" class="ui-content">
	  <ul id="install-ruleset" data-role="listview" data-inset="true"> 
       	    <li data-role="list-divider" >Install Ruleset</li>
	    <li>
	      <form id="form-install-ruleset">
	        <div data-role="fieldcontain">
   	          <label for="rid">Ruleset ID:</label>
		  <input type="text" name="rid" id="rid" value="" placeholder="b495674x14.prod" />
		</div>
	      </form>
	      <div>
                <a id="install-ruleset-confirm-button" href="#" class="ui-btn ui-btn-b ui-btn-inline">Install</a>
                <a href="#page-installed-rulesets" class="ui-btn ui-btn-inline" data-transition="slide">Cancel</a>
	      </div>
	    </li>
     	  </ul>
	</div>

  {% include footer.html %}

</div>

<div data-role="page" id="confirm-uninstall-ruleset" data-title="Uninstall Ruleset">
  {% include header.html title="Uninstall a Ruleset" %}

	<div data-role="main" class="ui-content">
	  <ul id="remove-ruleset" data-role="listview" data-inset="true"> 
       	    
     	  </ul>
	</div>


  {% include footer.html %}


</div>