<div data-role="page" id="page-client-authorize" data-title="App Management" >
  {% include header.html title="Client Registration" %}
  {% include pico-name-header.html %}

   <div data-role="content">
       <p>
         Welcome to the Authorize Client Manager. Below are your Clients.
        </p>
     <ul id="authorized-clients-control" data-role="listview" data-inset="true"> 
       <li data-role="list-divider" >Client Manager</li>
       <li>
         <a id="authorized-button" href="#authorize-client" class="ui-btn ui-icon-edit ui-btn-icon-right">New client</a>
       </li>
     </ul>

     <div data-role="collapsible-set" data-filter="true" data-content-theme="a" data-iconpos="right" id="authorized-clients">
     </div>

   </div><!-- /content -->

   {% include footer.html %}
</div><!-- /page -->

<div data-role="page" id="authorize-client" data-title="Authorize channel">
  {% include header.html title="Authorize a Client" %}
  {% include pico-name-header.html %}

	<div data-role="main" class="ui-content">
	  <ul id="authorize-client" data-role="listview" data-inset="true"> 
       	    <li data-role="list-divider" >Authorize Client</li>
	    <li>
	      <form id="form-authorize-client">
	        <div data-role="fieldcontain">
   	          <label for="client_name">Name:</label>
      <input type="text" name="client_name" id="client_name" value="" placeholder="Name" />
              <label for="client_Description">Description:</label>
      <input type="text" name="client_Description" id="client_Description" value="" placeholder="Description" />
              <label for="client_image_url">Image url:</label>
      <input type="text" name="client_image_url" id="client_image_url" value="" placeholder="http://www.example.com/images/logo.png" />
              <label for="client_callback_url">Callback url:</label>
		  <input type="text" name="client_callback_url" id="client_callback_url" value="" placeholder="http://www.example.com/" />
              <label for="client_declined_url">Declined url:</label>
      <input type="text" name="client_declined_url" id="client_declined_url" value="" placeholder="http://www.example.com/declined" />             
              <label for="client_info_page_url">info page url:</label>
      <input type="text" name="client_info_page_url" id="client_info_page_url" value="" placeholder="http://www.example.com/info" />
              <label for="client_bootstrapRids">bootstrap Rids:</label>
      <input type="text" name="client_bootstrapRids" id="client_bootstrapRids" value="" placeholder="ex: v1_wrangler.prod, b507199x13.prod" />
		</div>
	      </form>
	      <div>
                <a id="authorize-client-confirm-button" href="" class="ui-btn ui-btn-b ui-btn-inline">Authorize</a>
                <a href="#page-client-authorize" class="ui-btn ui-btn-inline" data-transition="slide">Cancel</a>
	      </div>
	    </li>
    </ul>
	</div>

  {% include footer.html %}

</div>

<div data-role="page" id="confirm-client-remove" data-title="DeAuthorize Client">
  {% include header.html title="DeAuthorize Client" %}
  {% include pico-name-header.html %}

	<div data-role="main" class="ui-content">
	  <ul id="remove-client" data-role="listview" data-inset="true"> 
       	    
     	  </ul>
	</div>


  {% include footer.html %}
</div>
<div data-role="page" id="update-client" data-title="Update Client">
  {% include header.html title="Update Client" %}
  {% include pico-name-header.html %}

  <div data-role="main" class="ui-content">
    <ul id="update-client" data-role="listview" data-inset="true"> 
      <li data-role="list-divider" >Update Client</li>
      <li>
        <form id="form-update-client">
          <div data-role="fieldcontain">
              <label for="update_client_name">Name:</label>
      <input type="text" name="update_client_name" id="update_client_name" value="" placeholder="" />
              <label for="update_client_Description">Description:</label>
      <input type="text" name="update_client_Description" id="update_client_Description" value="" placeholder="" />
              <label for="update_client_image_url">Image url:</label>
      <input type="text" name="update_client_image_url" id="update_client_image_url" value="" placeholder="" />
              <label for="update_client_callback_url">Callback url:</label>
      <input type="text" name="update_client_callback_url" id="update_client_callback_url" value="" placeholder="" />
              <label for="update_client_declined_url">Declined url:</label>
      <input type="text" name="update_client_declined_url" id="update_client_declined_url" value="" placeholder="" />             
              <label for="update_client_info_page_url">info page url:</label>
      <input type="text" name="update_client_info_page_url" id="update_client_info_page_url" value="" placeholder="" />
              <label for="update_client_bootstrapRids">bootstrap Rids:</label>
      <input type="text" name="update_client_bootstrapRids" id="update_client_bootstrapRids" value="" placeholder="" />
    </div>
        </form>
        <div>
                <a id="update-client-confirm-button" href="#" class="ui-btn ui-btn-b ui-btn-inline">Update</a>
                <a href="#page-client-authorize" class="ui-btn ui-btn-inline" data-transition="slide">Cancel</a>
        </div>
      </li>
    </ul>
  </div>


  {% include footer.html %}
</div>
