<div data-role="page" id="page-picologging" data-title="Pico Logs">

  {% include header.html title="Pico Logging" %}

   <div data-role="content">
       <ul id="error-msg" data-role="listview" data-inset="true" class="alert alert-error" style="display:none"></ul>

     <ul data-role="listview" data-inset="true"> 
       <li data-role="list-divider" >Pico Logs</li>
       <li>
         <div data-role="fieldcontain">
           <label for="logstatus">Logging:</label>
           <select name="logstatus" id="logstatus" data-theme="a" data-role="slider">
	      <option value="off">Off</option>
	      <option value="on">On</option>
           </select>
         </div>
         <button id="logrefresh" data-theme="b" >Refresh</button>
         <button id="logclear" data-theme="b" >Clear</button>
	</li>       
      </ul>

      <div data-role="collapsible-set" data-content-theme="a" data-iconpos="right">
        <ul data-role="listview" data-inset="true"  id="loglist">    
        </ul>
      </div>

   </div><!-- /content -->

   {% include footer.html %}

</div><!-- /page -->
