<div data-role="page" id="registering-ruleset">
  {% include header.html title="Register Rulesets" %}
  {% include pico-name-header.html %}

	<div data-role="main" class="ui-content">
	<div id="registering-ruleset-dev">
        <p>
          Here you can register a new ruleset. In order to
          successfully register it, the source code must be
          accessible by HTTP access. 
        </p>
        <form id="formRegisterNewRuleset" class="form-horizontal form-mycloud">
          <fieldset>
            <div class="control-group">
              <label class="control-label" for="appURL">Source URL</label>
              <div class="controls">
                <textarea class="input-xlarge" name="appURL" title="The location your KRL source resides" placeholder="The location your KRL source resides" required=""></textarea>
              </div>
            </div>
            <div class="form-actions">
            	<a id= "register-ruleset-confirm-button" class="save" href="#" data-icon="check" data-role="button" data-inline="true" data-theme="b">Register Ruleset</a>
              <a href="#listing" class="ui-btn ui-btn-inline" data-transition="slide">Cancel</a>
              <!--<button type="submit" class="btn btn-primary">Register Ruleset</button>-->
            </div>
          </fieldset>
        </form>
      </div>
	</div>
	{% include footer.html %}
</div>

<!-- -------------------------- -/listing.html ---------------------------- -->

<div data-role="page" id="listing">
	
    {% include header.html title="Registered Rulesets" %}
    {% include pico-name-header.html %}

  	<div data-role="main" class="ui-content">
    
          <ul id="ruleset-list" class="ruleset" data-role="listview" data-inset="true" > 
            <li data-role="list-divider" >Ruleset List</li>
            <li>
              <a href="#registering-ruleset" class="ui-btn ui-btn-inline ui-btn-icon-right ui-icon-carat-r  devtools-btn">New Ruleset</a>
            </li>  
          </ul><!-- /listview -->

          <div data-role="tabs" id="tabs">
            <div data-role="navbar">
              <ul>
                <li><a id="listing-rulesets-sortby" style="background-color:black;color:white;pointer-events:none" data-ajax="false">Sort by:</a></li>
                <li><a id="listing-rulesets-sortby-name" class="ui-btn-active" data-ajax="false" selected>Name</a></li>
                <li><a id="listing-rulesets-sortby-rid" data-ajax="false">RID</a></li>
                <li><a id="listing-rulesets-sortby-cache" data-ajax="false">Last Cached</a></li>
              </ul>
            </div>
          </div>

          <div data-role="collapsible-set" data-filter="true" data-content-theme="a" data-iconpos="right" id="manage-list">
     	  </div>

	</div>
	
  {% include footer.html %}
  
</div>

<!-- -------------------------- -/updating-url.html ---------------------------- -->

<div data-role="page" id="updating-url">
	
	{% include header.html title="Manage Registered Ruleset" %}
  {% include pico-name-header.html %}

	<div data-role="main" class="ui-content">
		
		<ul id="update-url-list" data-role="listview" data-inset="true"> 
			<li data-role="list-divider" >Update RID URL</li>
			<li>
				<form id="form-update-url">
						<!--insert rid here-->
						<!--url is here-->
						<label for="url" id="urlLabel">New URL: </label>
						<input type="text" name="url" id="url" value="" placeholder="New URL for ruleset" />
				</form>
				<div>
					<a id="update-url-confirm-button" href="#" class="ui-btn ui-btn-b ui-btn-inline">Update</a>
					<a href="#listing" class="ui-btn ui-btn-inline" data-transition="slide">Cancel</a>
				</div>
			</li>
		</ul>

	</div>

	{% include footer.html %}

</div>





