<div data-role="page" id="page-schedules" data-title="Scheduled Events">
  {% include header.html title="Scheduled Events" %}
  {% include pico-name-header.html %}

   	<div data-role="content">
     	<ul id="scheduled-events-control" data-role="listview" data-inset="true"> 
       	<li data-role="list-divider" >Scheduled Events</li>
       	<li>
         	<a id="schedule-event-button" href="#schedule-event" class="ui-btn ui-icon-edit ui-btn-icon-right">Schedule Event</a>
        </li>
      </ul>
      <div data-role="tabs" id="tabs">
        <div data-role="navbar">
          <ul>
            <li><a href="#scheduled-events-list" data-ajax="false">Scheduled Events</a></li>
            <li><a href="#schedule-history-list" data-ajax="false">History</a></li>
          </ul>
        </div>
        <div id="scheduled-events-list" data-role="collapsible-set" data-filter="false" data-content-theme="a" data-iconpos="right">
        </div>
        <div id="schedule-history-list" data-role="collapsible-set" data-filter="false" data-content-theme="a" data-iconpos="right">         
        </div>
     
     </div>


   </div><!-- /content -->

   {% include footer.html %}
</div><!-- /page -->




<div data-role="page" id="schedule-event" data-title="Schedule Event">
  {% include header.html title="Schedule an Event" %}
  {% include pico-name-header.html %}

	<div data-role="main" class="ui-content">
	  <ul id="schedule-events" data-role="listview" data-inset="true"> 
       	    <li data-role="list-divider" >Schedule Events</li>
	    <li>
	      <form id="form-schedule-event">
	        <div data-role="fieldcontain">
	   	      <label for="event_domain">Event Domain:</label>
			  		<input type="text" name="event_domain" id="event_domain" value="" placeholder="explicit" disabled="disabled"/>
			  		<!--in order to make the domain input-able again, delete disabled-->
	          <label for="event_type">Event Type:</label>
	      		<input type="text" name="event_type" id="event_type" value="" placeholder="status" />

	      		<label for "reoccuring">Reoccurring Event?</label>
	      		<fieldset data-role="controlgroup" data-type="horizontal">
			        
			        <input type="radio" name="radio-choice-h-2" id="radio-choice-h-2a" value="on" checked="checked">
			        <label for="radio-choice-h-2a">Once</label>
			        <input type="radio" name="radio-choice-h-2" id="radio-choice-h-2b" value="off">
			        <label for="radio-choice-h-2b">Repeating</label>
				    </fieldset>

	          <label for="datetime">Date and Time:</label>
	          <input type="datetime-local" data-clear-btn="false" name="date_time" id="date_time" value="">

	          <label for="recurrment">Recurring schedule:</label>
	      		<input type="text" name="recurrment" id="recurrment" value="" placeholder="CRONTAB Format" />

	          <label for="event_attributes">Event Attributes:</label>
	      		<input type="text" name="event_attributes" id="event_attributes" value="" placeholder="{'wrangler': rocks, ...}" />
					</div>
	      </form>
	      <div>
          <a id="schedule-event-confirm-button" href="#" class="ui-btn ui-btn-b ui-btn-inline">Schedule</a>
          <a href="#page-schedules" class="ui-btn ui-btn-inline" data-transition="slide">Cancel</a>
	      </div>
	    </li>
    </ul>
	</div>

  {% include footer.html %}

</div>



<div data-role="page" id="confirm-event-cancel" data-title="Cancel Scheduled Event">
  {% include header.html title="Cancel Scheduled Event" %}
  {% include pico-name-header.html %}

	<div data-role="main" class="ui-content">
	  <ul id="remove-scheduled-event" data-role="listview" data-inset="true"> 
       	    
     	  </ul>
	</div>


  {% include footer.html %}


</div>