<!-- naming needs to be redone ???? -->

<div data-role="page" id="page-subscription-management" data-title="Subscription Management" >
  {% include header.html title="Subscription Management" %}

   <div data-role="content">
       <p>
         Welcome to the Subscription Manager. Here you can view and add Subscription for your Pico.
        </p>
     <ul id="Subscriptions-control" data-role="listview" data-inset="true"> 
       <li data-role="list-divider" >Subscription Manager</li>
       <li>
         <a id="Subscribe-button" href="#Subscribe" class="ui-btn ui-icon-plus ui-btn-icon-right">New Subscription</a>
       </li>
     </ul>

     <div data-role="collapsible-set" data-filter="true" data-content-theme="a" data-iconpos="right" id="Subscriptions">
     </div>

   </div><!-- /content -->

   {% include footer.html %}
</div><!-- /page -->

<div data-role="page" id="Subscribe" data-title="Subscribe">
  {% include header.html title="Create a Subscription" %}

  <div data-role="main" class="ui-content">
   <ul id="install-Subscription" data-role="listview" data-inset="true"> 
    <li data-role="list-divider" >Create Subscription</li>
    <li>
     <form id="form-subscribe">
       <div data-role="fieldcontain">
        <label for="Subscription_name">Name:</label>
        <input type="text" name="Subscription_name" id="Subscription_name" value="" placeholder="KRL Rocks" />
        <label for="Subscription_name_space">Name Space:</label>
        <input type="text" name="Subscription_name_space" id="Subscription_name_space" value="" placeholder="KRL Rocks" />
        <label for="Subscription_type">Channel Type:</label>
        <input type="text" name="Subscription_type" id="Subscription_type" value="" placeholder="Type" />
        <label for="Subscription_my_role">My_role:</label>
        <input type="text" name="Subscription_my_role" id="Subscription_my_role" value="" placeholder="KRL Rocks" />
        <label for="Subscription_your_role">Your_role:</label>
        <input type="text" name="Subscription_your_role" id="Subscription_your_role" value="" placeholder="KRL Rocks" />
        <label for="Subscription_target">Target:</label>
        <input type="text" name="Subscription_target" id="Subscription_target" value="" placeholder="KRL Rocks" />
        <label for="Subscription_attrs">Attrs:</label>
        <input type="text" name="Subscription_attrs" id="Subscription_attrs" value="" placeholder="KRL Rocks" />
      </div>
    </form>
    <div>
    <a id="Subscribe-confirm-button" href="#approve-subscription" class="ui-btn ui-btn-b ui-btn-inline">Subscribe</a>
      <a href="#page-subscription-management" class="ui-btn ui-btn-inline" data-transition="slide">Cancel</a>
    </div>
  </li>
</ul>
</div>

  {% include footer.html %}

</div>

<div data-role="page" id="confirm-uninstall-Subscription" data-title="Uninstall Subscription">
  {% include header.html title="Delete a Subscription" %}

	<div data-role="main" class="ui-content">
	  <ul id="remove-Subscription" data-role="listview" data-inset="true"> 
       	    
     	  </ul>
	</div>


  {% include footer.html %}
</div>