<div data-role="page" id="updating-url">
	
	{% include header.html title="Update RID URL" %}

	<div data-role="main" class="ui-content">
		
		<ul id="update-url-list" data-role="listview" data-inset="true"> 
			<li data-role="list-divider" >Update URL</li>
			<li>
				<form id="form-update-url">
					<div data-role="fieldcontain">
						<!--insert rid here-->
						<!--url is here-->
						<label for="urlLabel" class="urlLabel"></label>
						</br>
						<input type="text" name="url" id="url" value="" placeholder="Insert new URL here" />
					</div>
				</form>
				<div>
					<a id="update-url-confirm-button" href="#" class="ui-btn ui-btn-b ui-btn-inline">Update</a>
					<a href="#listing" class="ui-btn ui-btn-inline" data-transition="slide">Cancel</a>
				</div>
			</li>
		</ul>




	</div>

	{% include footer.html %}

</div>

