<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.title }}">
  <meta name="author" content="{{ page.authors | array_to_sentence_string }}">
  <link rel="shortcut icon" href="img/favicon.png">

  <title>{{ page.title}}</title>

  <!-- Css -->
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css">

  <style>
    .header-image {
      margin-top: 4px;
      text-align: center;
    }
    .alert {
      color: red
    }
    @media (min-width:800px) {
      .ui-content {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .center-wrapper{
      text-align: center;
    }			  
    .center-wrapper * {
      margin: 0 auto;
    }
  </style>
  <!-- Themes -->
  <link rel="stylesheet" href="https://s3.amazonaws.com/Fuse_assets/themes/Fuse.css" />
  <link rel="stylesheet" href="https://s3.amazonaws.com/Fuse_assets/themes/jquery.mobile.icons.min.css" />


</head>

<body>


  {{ content }}


  <!-- Javascript -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="https://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
  <script src="js/handlebars-v1.3.0.js"></script>
  <!--getting access for devtools-api-->
  <script src="https://rawgit.com/Picolab/devtools/gh-pages/js/devtools-api.js"></script>
  <script src="https://rawgit.com/Picolab/wrangler/master/js/wrangler.js"></script>
  <script src="js/wrangler-config.js"></script>
  <script src="js/moment.js"></script>
  <script src="js/moment-timezone.js"></script>
 <!-- <script src="js/devtools-api-config.js"></script> -->



 <script>

  $("document").ready(function() {

    wrangler.getOAuthAccessToken(wrangler.retrieveOAuthCode(), function(oauth_payload)
    {
      if (!oauth_payload.OAUTH_ECI) {
        alert("Authentication failed. We apologize for this inconvenience. Please try again.");
      } else {
             console.log("Authorized");            // display authorization 
             Devtools.initAccount({}, function(kns_directives){ // bootstraps
              console.log("Received directives from bootstrap.execute: ", kns_directives);
              $.mobile.loading("hide");
              window.location = "index.html";
            });
            // window.location = "index.html";
           }
         },
         function(json){
          console.log("something went wrong with the OAuth authorization " + json);
          alert("Something went wrong with your authorization. Please try again. ");
          // not ideal, but...
          window.location = "https://" + wrangler.login_server + "/login";
        }
        );
});

</script>

</body>
</html>
